.idea/ant.xml
.idea/misc.xml
.idea/workspace.xml
.idea/uiDesigner.xml
.idea/inspectionProfiles
.idea/shelf
.idea/dictionaries/
.idea/scopes/scope_settings.xml
.idea/libraries/Ceylon__*.xml
.idea/libraries/com_*.xml
.idea/libraries/net_*.xml
.idea/libraries/org_*.xml
.idea/libraries/ceylon_*.xml
testdata/CeylonTest/.idea/misc.xml
testdata/CeylonTest/.idea/scopes/scope_settings.xml
testdata/CeylonTest/.idea/workspace.xml
testdata/CeylonTest/modules
/gen/
/gensrc/
test-resources/modules
intellij-repository
out
ant-build
modules/
resources/rebel.xml
**/.DS_Store
user-build.properties
plugin-ceylon-code/