.idea/ant.xml
.idea/misc.xml
.idea/scopes/scope_settings.xml
.idea/workspace.xml
testdata/CeylonTest/.idea/misc.xml
testdata/CeylonTest/.idea/scopes/scope_settings.xml
testdata/CeylonTest/.idea/workspace.xml