.idea/ant.xml
.idea/misc.xml
.idea/workspace.xml
.idea/uiDesigner.xml
.idea/inspectionProfiles
.idea/shelf
.idea/dictionaries/
.idea/scopes/scope_settings.xml
.idea/libraries/Ceylon_dependencies.xml
testdata/CeylonTest/.idea/misc.xml
testdata/CeylonTest/.idea/scopes/scope_settings.xml
testdata/CeylonTest/.idea/workspace.xml
testdata/CeylonTest/modules
grammar/gen
grammar/gensrc
grammar/build
plugin-ceylon-code/test-resources/modules
plugin-ceylon-code/.ceylon/ide-config~
out
ant-build
modules/
resources/rebel.xml
