<module xmlns="urn:jboss:module:1.1" name="com.intellij.openapi" slot="14">
    <resources>
        <resource-root path="com.intellij.openapi-14.jar"/>
    </resources>
    <dependencies>
        <module name="com.intellij.util" slot="14" export="true"/>
        <module name="com.intellij.extensions" slot="14" export="true"/>
        <module name="com.intellij.annotations" slot="14" export="true"/>
    </dependencies>
</module>
